.privilege{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  margin: 40px auto 61px auto;
  list-style-type: none;
  padding: 0;
}

.privilege__title{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.privilege__item{
  max-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.privilege__desc{
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}
.privilege_type_small{
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 10px;
  padding: 0 15px;
  margin-bottom: 0;
}

.privilege__title_type_small{
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.privilege__title_type_before{
  /*width: max-content;*/
  position: relative;
  width: 40%;
}

.privilege__title_type_before::before{
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;
  width: 10px;
  height: 1px;
  background: linear-gradient(to right, #FCB045, #FD1D1D);
}

@media all and (max-width: 500px){
  .privilege{
    margin-top: 20px;
    justify-content: flex-start;
    gap: 14px 0;
  }
  .privilege__title_type_small{
    width: 100%;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .privilege__item{
    width: 49%;
  }
}
