.body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  height: max-content;
  min-height: 100vh;
  background-color: #0E1014;
  color: #E4E5EA;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  height: max-content;
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.container__red-light{
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

.container__header-bubble{
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.container__purple-bubble{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.container__small-bubble{
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.container__medium-bubble{
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.content{
  max-width: 1141px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: max-content;
  min-height: 100vh;
  z-index: 12;
}

@media all and (max-width: 1178px){
  .body {
    padding: 0 20px;
  }
}

@media all and (max-width: 1080px){
  .container__purple-bubble{
    left: 368px;
  }
  .container__small-bubble{
    left: 568px;
  }
}

@media all and (max-width: 640px){
  .container__small-bubble{
    left: 368px;
  }
  .container__header-bubble{
    left: 68px;
  }
}

@media all and (max-width: 980px){
  .container__medium-bubble {
    display: none;
  }

}


@media all and (max-width: 500px) {
  .container{
    overflow: hidden;
  }
  .body {
    padding: 0;
  }
  .content{
    position: relative;
  }
  .container__small-bubble{
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 462px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }
  .container__purple-bubble{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }
  .container__header-bubble{
    position: absolute;
    width: 259px;
    height: 259px;
    left: 258px;
    top: 107px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
  }
  .container__red-light{
    position: absolute;
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;

    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
  }
}
